[submodule "src/a-compose"]
	path = src/a-compose
	url = git@gist.github.com:edd5c19d26dc32b3936673175c383b9f.git
[submodule "src/a-map"]
	path = src/a-map
	url = git@gist.github.com:af35d6cf55ae11a0d91bb58807a46156.git
[submodule "src/an-identity"]
	path = src/an-identity
	url = git@gist.github.com:5804a4147a7c561dcadd8c97adac7eaf.git
[submodule "src/an-always"]
	path = src/an-always
	url = git@gist.github.com:34cb8721bc558a620ddecbc32d25fee9.git
[submodule "src/a-reduce"]
	path = src/a-reduce
	url = git@gist.github.com:dffb3318371846e6c5f3989369d1c265.git
